<div class="container">
    <div class="welcome">
        <h1>Bienvenidos al chat</h1>
        <input id="chatBox" placeholder="What's Up?">
    </div>
    <br>
    <hr>
    <br>
    <div class="chat">
        <p id="messageLogs"></p>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>