<div class="login">
    <h1>Restablecer Contraseña</h1>
    <form id="emailInput">
        <label>Email</label>
        <input name="email">
        <input class="btn" type="submit">
    </form>
</div>
<script src='/js/forgotPassword.js'></script>
<script src="https://kit.fontawesome.com/e9d32d96ee.js" crossorigin="anonymous"></script>
