<div class="login">
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input class="btn" type="submit">
    </form>
    <div class="auth">
        <p>O ingresa con GitHub: </p>
        <a href="/api/sessions/github"><i class="fa-brands fa-github fa-2xl"></i></a>
    </div>
    <p>No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src='/js/login.js'></script>
<script src="https://kit.fontawesome.com/e9d32d96ee.js" crossorigin="anonymous"></script>
