<div class="container">
    <div class="logo">
        <i class="fas fa-user-circle"></i>
    </div>
    <h1>Login</h1>
    <form id="loginForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-group">
            <button class="btn" type="submit">Iniciar sesión</button>
        </div>
        <hr>
        <div class="auth">
            <a href="/api/authGithub/github">
                <i class="fa-brands fa-github fa-xl"></i>
                Ingresa con GitHub
            </a>
        </div>
        <hr>
        <div class="change">
            <a href="/register">¿No estás registrado?</a>
            <a href="/forgotPassword">¿Olvidaste la contraseña?</a>
        </div>
    </form>
</div>


<script src='/js/login.js'></script>
<script src="https://kit.fontawesome.com/e9d32d96ee.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
