<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.rol}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>