<div class="login">
    <h1>Restablecer Contraseña</h1>
    <form id="passwordInput">
        <label>Ingrese Nueva Contraseña</label>
        <input name="newPassword">
        <input class="btn" type="submit">
    </form>
</div>
<script src='/js/resetPassword.js'></script>
<script src="https://kit.fontawesome.com/e9d32d96ee.js" crossorigin="anonymous"></script>