.container{
    margin: 50px;
}
.products-container{
    display: flex;
    flex-direction: column;
}
.img-info-product{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-product{
    display: flex;
    flex-direction: column;
}
img{
    width: 80px;
    height: 80px;
    margin-right: 5px;
}
h3{
    margin: 5px;
}
p{
    margin: 5px;
}