.container{
    margin: 50px;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    margin: auto;
}
.user{
    margin-bottom: 20px;
}
.btn{
    width: 100px;
    margin:auto;
    padding: 5px;
    background-color:#606999;
    border: 1px solid #ffffff;
    color: #ffffff;
    justify-items: center;
    border-radius: 10px;
}
.btn:hover {
    background-color:#ffffff;
    border: 1px solid #606999;
    color: #606999;
}
.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-container{
    border: 1px solid #606999;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img-info-product{
    display: flex;
    flex-direction: row;
}
.info-product{
    display: flex;
    flex-direction: column;
}
img{
    width: 110px;
    height: 110px;
    margin-right: 5px;
}
p{
    margin: 0px;
}
.controllers{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
a{
    margin: 0px 10px 0px 10px ;
    color: #606999;
}